In [1]:
import pandas as pd
import numpy as np

In [2]:
df_btcusd = pd.read_csv('btcusd.csv')

In [6]:
df_btcusd

,time,open,close,high,low,volume
0,1500035700000,0.500000,0.50000,0.50000,0.500000,1.000000
1,1500045060000,0.650000,0.65000,0.65000,0.650000,999.500000
2,1500045180000,0.700000,0.65000,0.70000,0.650000,3591.766016
3,1500045240000,0.652060,0.51100,0.82857,0.511000,9675.060819
4,1500045300000,0.511000,0.78990,0.78990,0.511000,145.029086
...,...,...,...,...,...,...
710333,1597658460000,11881.903368,11882.00000,11882.00000,11881.903368,0.021796
710334,1597658520000,11882.000000,11890.00000,11890.00000,11882.000000,0.322557
710335,1597658580000,11890.072213,11897.16426,11898.00000,11890.072213,0.923951
710336,1597658640000,11897.897809,11899.98483,11900.00000,11897.897809,0.449364
710337,1597658700000,11900.000000,11899.98483,11900.00000,11899.984830,0.155505

In [8]:
df_btcusd['time'] = pd.to_datetime(df_btcusd['time'], format='s')

ValueError: time data '1500035700000' does not match format 's' (match)

In [9]:
pd.read_csv('https://api.alternative.me/fng/?limit=10&format=csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 4, saw 3